<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">COMP229</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
        
        <li class="nav-item">
        <% if(title == "Home") { %>
            <a class="nav-link active" href="/"><i class="fas fa-home"></i> Home</a>
        <% } else { %>
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
        <% } %>
        </li>
        
        <li class="nav-item">
        <% if(title == "Products") { %>
            <a class="nav-link active" href="/products"><i class="fas fa-desktop"></i> Products</a>
        <% } else { %>
            <a class="nav-link" href="/products"><i class="fas fa-desktop"></i> Products</a>
        <% } %>
        </li>
        
        <li class="nav-item">
        <% if(title == "Services") { %>
            <a class="nav-link active" href="/services"><i class="fas fa-tools"></i> Services</a>
        <% } else { %>
            <a class="nav-link" href="/services"><i class="fas fa-tools"i></i> Services</a>
        <% } %>
        </li>

        <li class="nav-item">
        <% if(title == "About Us") { %>
            <a class="nav-link active" href="/about"><i class="fas fa-info"></i> About Us</a>
        <% } else { %>
            <a class="nav-link" href="/about"><i class="fas fa-info"i></i> About Us</a>
        <% } %>
        </li>

        <li class="nav-item">
        <% if(title == "Contact Us") { %>
            <a class="nav-link active" href="/contact"><i class="fas fa-envelope-square"></i> Contact Us</a>
        <% } else { %>
            <a class="nav-link" href="/contact"><i class="fas fa-envelope-square"i></i> Contact Us</a>
        <% } %>
        </li>

    </div>
</nav>